<form class="{{cssClass}}" autocomplete="off">
  <!-- HEADER -->
  <div class="defaultHeader weaponUpgrade border">
    <div class="name">
      <input name="name" type="text" value="{{item.name}}" />
    </div>
  </div>

  <!-- TABS -->
  <div class="sheet-tabs tabs" data-group="primary">
    <b class="item active" data-tab="data">{{localize "TAB.DATA"}}</b>
    <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
  </div>

  <!-- TAB CONTENT -->
  <div class="sheet-body">
    <!-- TAB: DATA -->
    <div
      class="tab active"
      data-group="primary"
      data-tab="data"
      style="display: block;"
    >
      <div class="stats border">
        <h1>{{localize "TITLE.STATISTICS"}}</h1>

        <!-- LINE 1 -->
        <div class="stats-row">
          <div class="stat wt">
            <label>{{localize "DEFAULT.WEIGTH"}}</label>
            <input
              class="wtInput"
              name="system.weigth"
              type="number"
              value="{{system.weigth}}"
            />
          </div>
          <div class="stat req">
            <label>{{localize "DEFAULT.REQUISITION"}}</label>
            <input
              class="reqInput"
              name="system.requisition"
              type="number"
              value="{{system.requisition}}"
            />
          </div>
          <div class="stat renown">
            <label>{{localize "DEFAULT.RENOWN"}}</label>
            <select name="system.weapon.renown">
              {{selectOptions
                (config "weaponRenownNeed")
                selected=system.weapon.renown
                localize=true
              }}
            </select>
          </div>
        </div>

      </div>
    </div>

    <!-- TAB: NOTES -->
    <div
      class="tab"
      data-group="primary"
      data-tab="notes"
      style="display: none;"
    >
      <div class="stats border noteContent weaponUpgrade">
        {{#if system.note}}
          {{editor
            system.note
            target="system.note"
            engine="tinymce"
            button=true
            owner=owner
            editable=editable
          }}
        {{else}}
          {{editor
            (localize "NOTETYPING")
            target="system.note"
            engine="tinymce"
            button=true
            owner=owner
            editable=editable
          }}
        {{/if}}
      </div>
    </div>
  </div>
</form>